* {
    box-sizing: border-box;
}

*::selection {
    background: #828282;
    border-radius: 10px;
    color: #ffffff;
    padding: 5px;
    transition: 1s;
}

/* Reset some default styles for better consistency */
body, html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

/* Basic styling */
body {
    font-family: Sans-Serif;
    background-color: #ffffff;
}

header {
    background-color: black;
    color: #fff;
    position: fixed;
    width: 100%;
    display: flex;
    z-index: 2;
    align-items: center;
    left: 0;
    top: 0;
    padding: 1px;
}
header > h1 {
    font-size: 140%;
    color: white;
    padding: 0 13px;
    text-shadow: 3px -4px 4px #000000;
    font-family: 'Dela Gothic One', Sans-Serif;
}
header span > img {
    width: 100%;
    height: auto;
}
header > span {
    position: absolute;
    right: 12px;
    width: 10%;
    font-size: 17px;
}
#menu-container {
    background: #e9e9e9;
    height: 100vh;
    width: 100%;
    top: 0%;
    position: fixed;
    z-index: 3;
    padding: 12px;
    flex-direction: column;
    align-self: center;
    overflow-y: scroll;
    align-content: center;
}
#menu-content {
    padding: 5px;
    color: #000000;
    font-family: 'Grenze', serif;
}

#about-context {
    background: #e1e1e1;
    padding: 5px;
    border-radius: 5px;
}
#about-context p {
    color: #606060;
    font-size: 16px;
    line-height: 1.6rem;
    font-family: Sans-serif;
    display: none;
}
#about-context p > span {
    color: #016900;
    font-weight: 800;
    text-decoration: underline;
}

#menu-tools {
    display: flex;
    flex-direction: column;
    margin-top: 8%;
    margin-bottom: 8%;
    color: #00572e;
}

#menu-tools > span {
    padding: 12px 8px;
    width: 100%;
    margin-top: 8px;
    cursor: pointer;
    border-radius: 0 10px 10px 0;
    transition: .3s ease;
    user-select: none;
    outline: none;
    color: black;
    border-left: 2px solid #027a41;
}

#menu-close {
    width: 100%;
    display: flex;
    margin: 20px 0;
    align-items: center;
    justify-content: left;
}

#menu-close > span:hover {
    background: #b2b2b259;
    color: #c1c1c1;
}

#menu-close > span {
    
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 50%;
    font-size: 170%;
    position: absolute;
    transform: rotate(180deg);
    font-weight: 900;
    color: #027a41;
}
.show-menu {
    right: 0%;
    transition: .1s ease-out;
}
.hide-menu {
    right: -100%;
    transition-duration: .1s;
}

#div-sub-heading > span:nth-child(1) {
    font-size: 17px;
    color: #009d54;
    font-family: 'Dela Gothic One', Arial;
}
   
div#div-sub-heading {
    width: 100%;
    padding: 5px 10px;
    display: flex;
    margin-top: 4.2rem;
    flex-flow: row wrap;
    outline: none;
    border-radius: 10px;
    background: #e4e4e4;
    color: #3d3d3d;
    scroll-behavior: smooth;
    -ms-scroll-translation: 2s;
    font-size: 13px;
    overflow-x: auto;
}
#div-sub-heading > span {
    letter-spacing: 2px;
    background: #b2b2b2;
    color: white;
    padding: 10px;
    max-width: 85%;
    word-break: word-break;
    margin: 7px;
    border-radius: 10px;
    font-size: 95%;
    font-family: Sans-serif;
}

#div-sub-heading > span:nth-child(1):hover {
    color: #ffffff;
    background: #717171a6;
}

#div-sub-heading span:nth-of-type(2) > span::after {
    content: " *";
}

main {
    font-size: 18px;
    font-family: 'Grenze', serif;
}

#chatbot-side-icon {
    position: fixed;
    width: 54px;
    margin-left: 15px;
    bottom: 8%;
    z-index: 2;
    float: left;
    clear: both;
}
#chatbot-side-icon img {
    border-radius: 50%;
    width: 100%;
}


section {
    margin: 3rem 0;
}

#intro p::first-letter {
    color: #000000;
    font-size: 20px;
    font-weight: 800;
}
/*introduction after header */
#intro {
    color: #808080;
    box-shadow: 1px 1px 30px #00000065, -1px -1px 30px #00000065;
    background: #f0f0f0;
    border-radius: 30px;
    font-size: 12px;
    font-family: Monospace;
    line-height: 1.2rem;
    padding: 10px;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

#related-image {
    width: 100%;
    display: flex;
    margin: 1rem 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
#related-image > img {
    max-width: 90%;
}
#related-image > h2 {
    color: #1c6e00;
    font-size: 100%;
}

/*the list of language li styling */
#lang-example div ul > li {
    cursor: pointer;
    padding-left: 5px;
    border-radius: 20px;
    transition: .3s ease;
    user-select: none;
    font-size: 16px;
    outline: none;
    text-decoration-line: underline;
}

#lang-example div ul > li:hover, #menu-tools > span:hover {
    padding-left: 15px;
    font-size: 19px;
    background: rgba(128,128,128,0.277);
}

#lang-example {
    background-image: url('../images/6521720-640.jpg');
    border-radius: 15px;
    background-size: cover;
    height: auto;
    width: 100%;
    color: white;
    margin: 8rem 0;
    padding: 20px 15px;
    background-repeat: no-repeat;
    line-height: 3rem;
}

h2 {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

#lang-tools div ul > li {
    color: #00a556;
    cursor: pointer;
    padding-left: 5px;
    transition: .3s ease;
    font-size: 16px;
    outline: none;
    user-select: none;
    text-decoration-line: underline;
}

#lang-tools div ul > li:hover {
    border-radius: 15px;
    padding-left: 17px;
    font-size: 19px;
    background: ;
}

#lang-tools {
    background: transparent;
    height: auto;
    width: 100%;
    color: #1f1f1f;
    padding: 20px 15px;
    background-repeat: no-repeat;
    line-height: 3rem;
}
#lang-tools p {
    color: #696969;
    line-height: 1rem;
}
#code-tips {
    border-left: 2px solid #5fff3d;
    background: #e4e4e4;
    height: auto;
    border-radius: 20px;
    width: 100%;
    color: #1d1d1d;
    padding: 5px 15px;
    font-size: 13.5px;
    line-height: 1.2rem;
}
#code-tips p {
    margin: 1.5rem 1.3rem;
    font-family: Sans-Serif;
}
#code-tips p > em {
    color: #054f00;
    font-weight: bolder;
    font-size: 110%;
}
#code-tips > h2 {
    color: #1a1a1a;
    line-height: 1.2;
    font-family: Times New Roman;
    font-size: 200%;
}
#title-img {
    width: 100%;
    max-height: 300px;
    margin-top: 15rem;
}



.show-scroll-animaton {
    opacity: .2;
    transform: scale(.7);
    transition: .5s ease-out;
}
.scroll-animaton {
    opacity: 1;
    transform: scale(1);
}



 @media(prefers-reduced-motion) {
     .scroll-animaton {
         transition: none;
     }
 }




footer {
    color: white;
    position: relative;
}

#footer-div-container {
    width: 100%;
}

.footer-sub-div {
    width: 100%;
    padding: 10px;
    display: flex;
    line-height: 2.5rem;
    flex-direction: column;
}

.footer-sub-div h1 {
    font-size: 150%;
}
    
.footer-sub-div span:hover {
    color: #8ea6ad;
    transition: border-color 1s ease;
    border-bottom: 2px solid white;
    transition-timing-function: center;
}


.footer-sub-div span {
    font-size: 15px;
    font-family: 'Grenze', serif;
    cursor: pointer;
    outline: none;
    text-decoration-line: underline;
}

.footer-section-head {
    font-family: 'Dela Gothic One', serif;
    font-size: 100%;
    color: #027a41;
}

#footer-div-content::-webkit-scrollbar {
    display: none;
}

#footer-div-content {
    width: 100%;
    background: #000000;
    position: absolute;
    padding: 2rem 1rem;
    border-right: 6px solid #c3c3c37f;
}

#icons-container {
    width: 100%;
    display: flex;
    margin-top: 6rem;
    height: auto;
    padding: 20px 0;
    background: #000000c3;
    border-radius: 10px;
    align-items: center;
    justify-content: space-evenly;
}

      #icons-content span {
          margin: 0 10px;
      }
      
      #icons-content > h4 {
          color: #027a41;
          font-size: 16px;
          margin: 15px;
      }
      
      #icons-content span > img {
          width: 30px;
          height: 30px;
          transform-origin: 50% 50%;
      }
      #destop-menu-container {
        display: none;
      }




@media only screen and (min-width: 680px) { 
    .main-col {
        width: 100%;
    }
    .wrapper-container {
        width: 65%;
        display: flex;
        justify-self: end;
    }
    #code-tips p {
        max-width: 50%;
        margin: 0 auto;
        font-size: 15px;
    }
    #menu-container {
        width: 25%;
        background: #e9e9e9;
        height: 100%;
        left: 0;
        padding: 12px;
        z-index: 1;
        flex-direction: column;
        overflow-y: scroll;
        align-content: center;
    }
    footer {
        z-index: 2;
    }
    
    #menu-close, #menu-icon, #title-img, footer video {
        display: none;
    }
    #destop-menu-container {
        width: 100%;
    }
    #destop-menu-tools {
        display: flex;
        position: sticky;
        flex-flow: row nowrap;
        width: 100%;
        padding: 5px;
        color: #000000;
        overflow-x: scroll;
        font-family: 'Grenze', serif;
    }
    .destop-menu-tools-sections {
        display: flex;
        row-gap: 12px;
        flex-flow: row nowrap;
    }
    .destop-menu-tools-sections > span {
        padding: 4px;
        min-width: 150px;
        margin: 0 15px;
        text-align: center;
        cursor: pointer;
        background: lightgray;
        font-size: 15px;
        border-radius: 6px;
        transition: .3s ease;
        user-select: none;
        outline: none;
        color: black;
    }
    .destop-menu-tools-sections > span:hover {
        padding-left: 15px;
        font-size: 110%;
        background: rgba(128,128,128,0.277);
    }
    .destop-menu-tools-sections span:nth-child(1) {
        color: limegreen;
        border-bottom: 2px solid black;
        margin: 0 20px;
        border-radius: 0;
        background: transparent;
        font-size: 110%;
        min-width: 180px;
    }
    #destop-menu-tools::-webkit-scrollbar {
    width: 7px;
    height: .5rem;
    background: black;
    }
    #destop-menu-tools::-webkit-scrollbar-thumb {
    background: gray;
    border-radius: 10px;
    }
    #destop-menu-tools::-webkit-scrollbar-thumb:hover {
    background: brown;
    }

    #related-image > img {
        max-width: 40%;
    }

    div#div-sub-heading {
        margin-top: 7rem;
    }


    #footer-div-content {
        height: auto;
        background: #000000c2;
        border: none;
        position: relative;
    }
    #footer-div-container {
        background-image: url('../images/170667a.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        position: absolute;
        height: auto;
    }
    footer {
        position: relative;
        margin-bottom: 3rem;
    }
    #icons-container, #icons-content > span {
        display: block;
        margin-bottom: 20px;
    }
    
}
